body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    background-color: rgb(40, 35, 35);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body main{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  section{
    height: 300px;
    width: 250px;
    background-color: brown;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }
  
  #answer{
    color: black;
    border-radius: 5px;
    margin-top: 10px;
    background-color: white;
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: end;
    padding-right: 10px;
    align-items: center;
    overflow-x: hidden;
    }
  
  #teclado{
    border-radius: 5px;
    margin-top: 10px;
    background-color: rgb(122, 33, 33);
    height: 70%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .conversiones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .conversiones div{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    height: 30px;
    width: 30px;
    font-size: 15px;
    border-radius: 50%;
    margin: 5px 10px;
    transition: all .2s ease-in;
  }
  
  #numeros{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  #numeros div{
    display: flex;
    flex-direction: row;
  }
  
  #numeros div div{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    height: 30px;
    width: 30px;
    font-size: 15px;
    border-radius: 50%;
    margin: 5px 10px;
    transition: all .2s ease-in;
  }
  
  #numeros div div:hover, .conversiones div:hover{
    background-color: rgb(147, 38, 38);
  }
